/** @format */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	scroll-behavior: smooth;
}
body {
	padding: 0;
	margin: 0;
	background-image: url('../public/2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #f56e28;
	border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
	background: #412678;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: rgb(0, 0, 0);
		background: rgb(255, 255, 255);
	}
}
.Gradiant-heading span {
	font-size: 13px;
	color: white !important;
	background: #f072f230;
	padding: 5px 10px;
	border-radius: 15px;
}
.Gradiant-heading {
	background: linear-gradient(-45deg, #f8f4fb, #f1d3f7, #d9b6fd, #f3c5fd);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	-webkit-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
.hometop {
	background: rgb(18, 0, 17);
	background: url('../public/souravwebarthome.png'),
		linear-gradient(11deg, rgb(1, 20, 43) -11%, rgb(0 0 0) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	margin-top: 50px;
}
.aboutHero_start {
	background: rgb(18, 0, 17);
	background: url('../public/souravweb.png'),
		linear-gradient(11deg, rgb(1, 20, 43) -11%, rgb(0 0 0) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	height: 95vh;
	margin-top: 50px;
}
.header__hero--cta {
	margin-top: 3rem;
	display: inline-block;
	font-size: 1.3rem;
	line-height: 92.4%;
	color: #ffffff;
	text-decoration: none;
	position: relative;
	font-family: 'DM Sans', sans-serif;
	font-weight: 300;
}
.header__hero--cta:hover {
	color: #dbbef9;
}
.header__hero--cta::before {
	display: block;
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 50%;
	height: 1px;
	background: #f5edf6;
	-webkit-transition: beforeline 0.3s ease;
	transition: beforeline 0.3s ease;
}
@keyframes beforeline {
	0% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}

.header__hero--cta:hover::after {
	display: block;
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 80%;
	height: 1px;
	background: #e7d7f8;
	-webkit-transition: line 0.3s ease;
	transition: line 0.3s ease;
}
@keyframes line {
	0% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}
/* .moving-rocket {
  animation: 2s ease-in-out swingViewport;
}
@keyframes swingViewport {
  from {
    bottom: 0;
    right: 0;
  }
  to {
    top: 0;
    left: 0;
    -webkit-transform: translateY(0%, 100%);
  }
} */
.wrapper {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 300px;
	background-image: linear-gradient(281deg, #1e1c57, #38236f 42%, #5c2d91);
	clip-path: circle(0px at calc(100% - 45px) 45px);
	transition: all 0.3s ease-in-out;
	z-index: 9999;
	-webkit-animation: wrapgrad 1s ease infinite;
	animation: wrapgrad 1s ease infinite;
	border-radius: min(2.2vw, 31.68px) 0 0 min(2.2vw, 31.68px);
}
@keyframes wrapgrad {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
#active:checked ~ .wrapper {
	clip-path: circle(75%);
}
.menu-btn1 {
	position: relative;
	z-index: 2;
	/* right: 20px; */
	/* left: 20px; */
	top: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	z-index: 201;
}
.menu-btn {
	position: absolute;
	z-index: 2;
	right: 20px;
	/* left: 20px; */
	top: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	z-index: 201;
}
#active:checked ~ .menu-btn {
	color: #fff;
}
#active:checked ~ .menu-btn .iicon-menu:before {
	content: '\00d7';
	font-size: 3rem;
}
.wrapper ul {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(-0%, -50%);
	list-style: none;
	text-align: left;
}
.wrapper ul li {
	margin: 15px 0;
}
.wrapper ul li a {
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 500;
	color: #fff;
	position: relative;
	line-height: 40px;
	transition: all 0.3s ease;
	text-align: right;
	font-family: 'DM Sans', sans-serif;
}
.wrapper ul li a:hover {
	color: #8000ff;
}
.wrapper ul li a::before {
	display: block;
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 50%;
	height: 1px;
	background: #cf59e6;
	-webkit-transition: beforeline 0.3s ease;
	transition: beforeline 0.3s ease;
}
@keyframes beforeline {
	0% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}

.wrapper ul li a:hover::after {
	display: block;
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 100%;
	height: 2px;
	background: #8000ff;
	-webkit-transition: line 0.3s ease;
	transition: line 0.3s ease;
}
@keyframes line {
	0% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}
/* .wrapper ul li a:after {
  position: absolute;
  content: "";
  display: block;
  content: "";
  bottom: -1rem;
  left: 0;
  width: 50%;
  height: 1px;
  background: #cf59e6;
  -webkit-transition: beforeline 0.3s ease;
  transition: beforeline 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: #fff;
} */
input[type='checkbox'] {
	display: none;
}
.imageRotate {
	animation: rotation 6s infinite linear;
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
.hero_about_section_heading h1 {
	text-decoration: none;
	font-size: 4rem;
	font-weight: 800;
	color: rgb(118, 118, 118);
	position: relative;
	line-height: 66px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.hero_about_section_heading h2 {
	text-decoration: none;
	font-size: 2rem;
	font-weight: 600;
	color: rgb(18, 18, 18);
	position: relative;
	line-height: 95px;
	transition: all 0.3s ease;
	font-family: 'Nanum Pen Script', 'cursive';
}
.hero_about_section_description p {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	color: #000;
	position: relative;
	line-height: 45px;
	transition: all 0.3s ease;
	text-align: left;
	font-family: 'DM Sans', sans-serif;
}
.main_header {
	position: fixed;
	top: 0px;
	height: 80px;
	z-index: 100;
	width: 100%;
	background: rgb(0, 0, 0);
}
.top_company_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top-company-work h1 {
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgb(74 73 73 / 56%);
	position: relative;
	line-height: 45px;
	transition: all 0.3s ease;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	padding-bottom: 10px;
	text-transform: uppercase;
}
.social_section_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.socialsection {
	padding: 100px 0px;
	background-image: linear-gradient(281deg, #1e1c57, #38236f 42%, #5c2d91);
	-webkit-padding-before: 4.5rem;
	padding-block-start: 4.5rem;
	-webkit-padding-after: 2rem;
	padding-block-end: 2rem;
	padding-right: 0;
	z-index: 4;
	border-radius: min(2.2vw, 31.68px);
	text-align: center;
	width: 95%;
	margin: 0 auto;
	justify-content: center;
}
.abovesocialSection {
	padding-bottom: 40px;
	width: 70%;
	margin: auto;
	justify-content: center;
}
.abovesocialSection h1 {
	color: #fff;
	font-size: 2rem;
	font-weight: 800;
	line-height: 4rem;
	font-family: 'DM Sans', sans-serif;
}
.abovesocialSection p {
	color: rgb(203, 203, 203);
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2rem;
	font-family: 'Nanum Pen Script', cursive;
}
.social-media-platform h2 {
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
	line-height: 4rem;
	font-family: 'DM Sans', sans-serif;
	padding: 5px 0px;
}
.professional_section_heading h2 {
	color: #2e2166;
	font-size: 2rem;
	font-weight: 800;
	line-height: 2.4rem;
	font-family: 'DM Sans', sans-serif;
	padding: 5px 0px;
}
.professional_section_heading p {
	color: rgb(90, 90, 90);
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 500;
	position: relative;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'Nanum Pen Script', 'cursive';
}
.company_section_right h2 {
	color: rgb(18, 18, 18);
	font-size: 0.9rem;
	font-weight: 600;
	line-height: 20px;
	font-family: 'DM Sans', sans-serif;
	padding: 5px 0px;
	text-align: left;
	min-height: 70px;
}

.company_section_right p {
	color: rgba(59, 58, 58, 0.719);
	font-size: 0.7rem;
	font-weight: 500;
	line-height: 20px;
	font-family: 'DM Sans', sans-serif;
	text-align: left;
}
.companycard_section {
	background-color: #ffffff;
	min-height: 50px;
	padding: 9px;
	margin-left: 10px;
	border-radius: 15px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	overflow: hidden;
}
#cardSlider .swiper-wrapper {
	position: relative;
	width: 100%;
	height: 160px !important;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
	padding: 50px 20px 0px 20px !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
}
#cardSlider .swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 22px !important;
	font-weight: 800 !important;
	color: #000 !important;
}
#cardSlider .swiper-button-next,
.swiper-button-prev {
	top: 8% !important;
}
#cardSlider .swiper-button-prev {
	left: auto !important;
	right: 50px !important;
}
.testimonial_avatar {
	min-width: 60%;
	border-radius: 0 100px 100px 0;
	background-image: linear-gradient(281deg, #1e1c57, #38236f 42%, #5c2d91);
	margin-right: 20px;
	justify-content: center;
	text-align: center;
}
#testimonialavatar {
	margin: auto;
	justify-content: center;
	text-align: center;
}

.testimonial_section_details {
	margin: 'auto auto auto 0px';
	justify-content: left;
	width: 90%;
}
.testimonial-text {
	padding: 40px 20px;
	vertical-align: middle;
	margin: auto;
}
.testimonial-text h3 {
	color: #372169;
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 27px;
	font-family: 'DM Sans', sans-serif;
	text-align: left;
	padding: 15px 0px 5px 0px;
}

.testimonial-text h2 {
	color: rgb(30, 2, 39);
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 500;
	position: relative;
	line-height: 30px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	padding-top: 7px;
}
.testimonial-text p {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 500;
	position: relative;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}

.numberlist ol {
	counter-reset: li;
	list-style: none;
	list-style: decimal;
	font: 0px 'trebuchet MS', 'lucida sans';
	padding: 0px;
	margin-bottom: 4em;
}
.numberlist ol ol {
	margin: 0 0 0 2em;
}

.numberlist a {
	position: relative;
	display: block;
	padding: 0.4em 0.4em 0.4em 2em;
	/* padding: 0.4em; */
	margin: 0.5em 0;
	background: #fff;
	color: #312169;
	text-decoration: none;
	-moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	border-radius: 0.3em;
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}

.numberlist a:hover {
	background: #31216932;
	text-decoration: underline;
}
.numberlist a:before {
	content: counter(li);
	counter-increment: li;
	position: absolute;
	left: -1.3em;
	top: 50%;
	margin-top: -1.3em;
	background: #312169;
	height: 2em;
	width: 2em;
	line-height: 1.5em;
	border: 0.3em solid #fff;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	color: #fff;
}
.footer {
	padding-inline: min(6vw, 86px);
	padding-block: 6rem;
	background-image: linear-gradient(276deg, #1e1c57, #38236f 42%, #5c2d91 120%);
	border-radius: 0 24rem 0 0;
}
.footer-bottom {
	background-color: #1c1c1c;
	padding: 30px 0px;
}
.footer-top h1 {
	color: #ded0ff;
	font-size: 2rem;
	font-weight: 800;
	line-height: 27px;
	font-family: 'DM Sans', sans-serif;
	text-align: left;
	padding: 0px 0px 7px 0px;
}
.footer-top h2 {
	color: #ffffff;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 27px;
	font-family: 'DM Sans', sans-serif;
	text-align: left;
	padding: 0px 0px 7px 0px;
}
.footer-top h3 {
	color: #e791f8;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 27px;
	font-family: 'DM Sans', sans-serif;
	text-align: left;
	padding: 0px 0px 7px 0px;
}
.header__hero--cta_footer {
	margin-top: 2rem;
	display: inline-block;
	font-size: 1rem;
	line-height: 92.4%;
	color: #f3dff7;
	text-decoration: none;
	position: relative;
	font-family: 'DM Sans', sans-serif;
	font-weight: 300;
}
.header__hero--cta_footer:hover {
	color: #8000ff;
}
.header__hero--cta_footer::before {
	display: block;
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 50%;
	height: 1px;
	background: #cf59e6;
	-webkit-transition: beforeline 0.3s ease;
	transition: beforeline 0.3s ease;
}
@keyframes beforeline {
	0% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}

.header__hero--cta_footer:hover::after {
	display: block;
	content: '';
	position: absolute;
	bottom: -1rem;
	left: 0;
	width: 80%;
	height: 1px;
	background: #8000ff;
	-webkit-transition: line 0.3s ease;
	transition: line 0.3s ease;
}
@keyframes line {
	0% {
		width: 50%;
	}
	50% {
		width: 75%;
	}
	100% {
		width: 100%;
	}
}
.Footer-heading {
	background: linear-gradient(-45deg, #fdfbff, #f8edfa, #ca9ff6, #f1acff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 400% 400%;
	-webkit-animation: gradient 3s ease infinite;
	animation: gradient 3s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}
.copyrightfooter h1 {
	color: #d2d2d2;
	font-size: 0.8rem;
	font-weight: 500;
	line-height: 27px;
	font-family: 'DM Sans', sans-serif;
	text-align: right;
}
.about_sourav_description {
	padding: 50px 20px;
}
.about_sourav_description_col {
	margin: auto;
	vertical-align: middle;
}
.about_sourav_description p {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	position: relative;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.stack_section {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.card {
	padding: 30px 15px;
	margin: 15px;
	position: relative;
	background: rgb(245, 110, 40);
	-webkit-transform: skewY(-10.1deg);
	-moz-transform: skewY(-10.1deg);
	-ms-transform: skewY(-10.1deg);
	transform: skewY(-10.1deg);
}
.stack_heading_section_col {
	margin: auto;
	vertical-align: middle;
	justify-content: center;
}
.heading_section {
	padding-bottom: 15px;
}
.heading_section h2 {
	color: #372169;
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 27px;
	font-family: 'DM Sans', sans-serif;
	text-align: left;
}
.heading_section p {
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	position: relative;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.project_container {
	background-color: #f56e28;
	padding: 200px 15px 160px 15px;
	margin: auto;
	vertical-align: middle;
	border-radius: min(2.2vw, 31.68px);
	text-align: center;
}
.project_container h1 {
	margin: auto;
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 600;
	position: relative;
	line-height: 47px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	padding-bottom: 10px;
}
.project_container p {
	width: 60%;
	margin: auto;
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 1.1rem;
	font-weight: 500;
	position: relative;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.project_container_section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.project_card h1 {
	text-align: left;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	position: relative;
	line-height: 27px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	padding-bottom: 10px;
	margin-top: 10px;
	min-height: 70px;
}
.project_card h3 {
	text-align: center;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 500;
	position: relative;
	line-height: 21px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	padding: 5px 10px;
	border-radius: 35px;
	width: 100px;
}
.project_card p {
	text-align: left;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 500;
	position: relative;
	line-height: 21px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	padding: 5px 10px;
	border-radius: 35px;
}

.project_card h4 {
	text-align: right;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 500;
	position: relative;
	line-height: 21px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.loadmorebutton {
	margin: auto;
	text-align: center;
}
.loadmorebtn {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0;
	border: 0;
	margin: 0;
	border-radius: 0;
	padding: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
	font-family: 'DM Sans', sans-serif, sans-serif;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: normal;
	text-transform: uppercase;
	font-smooth: always;
	text-rendering: optimizeSpeed;
	letter-spacing: normal;
	position: relative;
	min-width: 64px;
	padding: 6px 16px;
	border-radius: 4px;
	-webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: white;
	background-color: rgba(245, 110, 40, 1);
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	text-transform: capitalize;
	white-space: nowrap;
	line-height: normal;
	font-weight: 600;
	font-size: 0.91rem;
	border-radius: 2rem;
	text-rendering: optimizeSpeed;
	letter-spacing: normal;
	width: fit-content;
	min-width: fit-content;
	padding-inline: 1.8rem;
	padding-block: 0.7rem;
}
.project_filter ul {
	display: flex;
}
.project_filter ul li {
	list-style: none;
	margin-right: 20px;
	text-align: center;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	position: relative;
	line-height: 21px;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	padding: 5px 14px;
	background: #ace0f8ab;
	border-radius: 36px;
	cursor: pointer;
}
.contact-us_start {
	display: flex;
}
.contact-row h1 {
	text-align: left;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	position: relative;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.contact-row {
	display: flex;
}
.contact-row p {
	text-align: left;
	color: rgb(79, 75, 83);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 400;
	position: relative;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.contactcardbtn h2 {
	text-align: left;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 600;
	position: relative;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.contactcardbtn {
	padding-bottom: 20px;
}
.contact_us_heading h1 {
	text-align: left;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 600;
	position: relative;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}
.contact_us_card {
	display: flex;
	text-align: center;
}
.contact_card_box {
	padding: 20px;
	border-radius: 15px;
	background-color: #eff1f2;
	margin: 20px 15px;
	box-shadow: 0px 0px 34px rgb(3 3 3 / 41%);
}
.contact_card_box h1 {
	text-align: left;
	color: rgb(38, 4, 64);
	text-decoration: none;
	font-size: 0.8rem;
	font-weight: 600;
	position: relative;
	transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
	margin-top: 20px;
}
.Topheading h1 {
	font-size: 2.5rem;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
	line-height: 62px;
	min-width: calc(100% - 4rem);
}
.subtopheading {
	font-size: 5rem;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
	font-weight: 600;
}
.subtopheading1 {
	font-size: 5rem;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
	font-weight: 600;
}
.Topheading p {
	font-size: 3rem;
	color: #fff;
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	line-height: 0px;
	min-width: calc(100% - 4rem);
}
.testimonial_section_details {
	display: flex;
}
.stack_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.stack_grid p {
	min-height: 245px;
}
.experience_card {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: space-between;
	vertical-align: middle;
}
@media screen and (max-width: 1280px) {
	.box1 {
		text-align: left !important;
	}
	.box1 p {
		text-align: left !important;
	}
	.stack_grid p {
		min-height: 50px;
	}
	.stack_grid {
		display: grid;
		grid-template-columns: 1fr;
	}
}
.project_card_details {
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 40px;
}
@media screen and (max-width: 666px) {
	.hometop {
		min-height: 110vh !important;
	}
	.top_company_section::-webkit-scrollbar {
		display: none;
	}
	.top_company_section {
		scroll-behavior: smooth;
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.project_card_details {
		display: block;
		padding: 30px 10px !important;
	}
	.experience_card {
		display: block;
	}
	.Topheading h1 {
		font-size: 1rem;
		color: #fff;
		font-family: 'DM Sans', sans-serif;
		font-weight: 700;
		line-height: 50px;
		min-width: calc(100% - 4rem);
	}
	.box3 h2 {
		text-align: left;
		margin: 10px auto 10px 0px !important;
	}
	.subtopheading1 {
		font-size: 2rem;
	}
	.Topheading p {
		font-size: 1.2rem;
		color: #fff;
		font-family: 'DM Sans', sans-serif;
		font-weight: 700;
		line-height: 50px;
		width: 80%;
		margin-top: -30px;
	}
	.moving-rocket {
		width: 150px;
		height: auto;
	}
	.testimonial_section_details {
		display: block;
	}
	.testimonial_avatar {
		min-width: 100%;
		border-radius: 0 100px 0 0;
		background-image: linear-gradient(281deg, #1e1c57, #38236f 42%, #5c2d91);
		margin-right: 0px;
		justify-content: center;
		text-align: center;
		padding-bottom: 1px;
	}
	.project_filter {
		scroll-behavior: smooth;
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.project_filter::-webkit-scrollbar {
		display: none;
	}
	.company-logo {
		width: 100px;
	}
	/* .top-company::-webkit-scrollbar {
		display: none;
	} */
	.top-company {
		background-color: #efefef;
		padding: 20px 0px;
		/* scroll-behavior: smooth;
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none; */
	}
	.hero_about_section_description p {
		text-decoration: none;
		font-size: 1rem;
		font-weight: 500;
		color: #000;
		position: relative;
		line-height: 27px;
		transition: all 0.3s ease;
		text-align: left;
		font-family: 'DM Sans', sans-serif;
	}
	.social-media-platform h2 {
		color: #fff;
		font-size: 0.8rem;
		font-weight: 400;
		line-height: 4rem;
		font-family: 'DM Sans', sans-serif;
		padding: 5px 0px;
	}
	.testimonial-text h2 {
		color: rgb(30, 2, 39);
		text-decoration: none;
		font-size: 1.2rem;
		font-weight: 500;
		position: relative;
		line-height: 27px;
		transition: all 0.3s ease;
		font-family: 'DM Sans', sans-serif;
		padding-top: 7px;
	}
	.numberlist a:before {
		content: counter(li);
		counter-increment: li;
		position: absolute;
		left: -0.3em;
		top: 50%;
		margin-top: -1.3em;
		background: #312169;
		height: 2em;
		width: 2em;
		line-height: 1.5em;
		border: 0.3em solid #fff;
		text-align: center;
		font-weight: bold;
		border-radius: 2em;
		color: #fff;
	}
	.footer {
		padding-inline: min(6vw, 86px);
		padding-block: 6rem;
		background-image: linear-gradient(
			276deg,
			#1e1c57,
			#38236f 42%,
			#5c2d91 120%
		);
		border-radius: 0 9rem 0 0;
	}
	.project_container_section {
		display: grid;
		grid-template-columns: 1fr;
	}
	.project_filter h1 {
		color: #ded0ff;
		font-size: 2rem;
		font-weight: 800;
		line-height: 41px;
		font-family: 'DM Sans', sans-serif;
		text-align: left;
		padding: 0px 0px 7px 0px;
	}
	.project_container p {
		width: 90%;
	}
	.contact-us_start {
		display: block;
	}
	.contact_us_heading h1 {
		font-size: 1.2rem;
	}
	.contact_us_card {
		display: block;
	}
	.contact_card_box h1 {
		text-align: center;
		font-size: 0.8rem;
	}
	.contact_us_right {
		margin-bottom: 80px !important;
	}
}
